.adv-search {
  display: grid;
  place-items: center;
  gap: 2ch;
  &__fieldset {
    max-inline-size: 10rem;
    border: none;
    margin-block-end: 3ch;
    display: flex;
    gap: 1ch;
    flex-wrap: wrap;
  }

  &__legend {
    margin-block-end: 1ch;
  }

  &__checkbox-wrapper {
    display: grid;
  }

  &__label {
    grid-area: 1 / 1;
  }

  &__checkbox {
    appearance: none;
    border: none;
    background: none;
    grid-area: 1 / 1;
    inline-size: 100%;
    block-size: 100%;
  }
}
